<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398992031545-17fnuar054gc0kjs8qcuejhdkjacuopp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398992031545-17fnuar054gc0kjs8qcuejhdkjacuopp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>398992031545-jltekdhv9saj3n1se1khkbj0k99jhcm5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBA4lJAkikAGYikTThMoGYGZ5AG4bSPt1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>398992031545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skynxtwebsolutions.moodmate</string>
	<key>PROJECT_ID</key>
	<string>mood-mate-hwmtub</string>
	<key>STORAGE_BUCKET</key>
	<string>mood-mate-hwmtub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398992031545:ios:03612328a804ce5ee132e8</string>
</dict>
</plist>